<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration debug="false" scan="true" scanPeriod="30 seconds">-->
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}] [%4p] [%t] %c{16}:%L: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="RFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/anymessenger.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/anymessenger.%d{yyyy-MM-dd-HH}-%i.log</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{ISO8601}] [%4p] [%t] %c{16}:%L: %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.anymessenger"
            level="INFO"
            additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RFILE"/>
    </logger>

    <logger name="com.zaxxer.hikari"
            level="DEBUG"
            additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RFILE"/>
    </logger>

    <Root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RFILE"/>
    </Root>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>

